@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, Inter, Avenir, sans-serif;
  color-scheme: dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  text-align: left;
  padding: 1em;
  margin: 0 auto;
  min-width: 18rem;
}

img {
  display: block;
}
